*{
    margin: 0;
    padding: 0;
}

header{
    background: #ffffff;
    width: 100%;
    height: 60px;
    border: none;
    position: fixed;
    z-index: 100;
    top: 0;    
}

body{
    background: #f2f2f2;
    font-family: sans-serif;

}

#cabecera{
    width: 80%;
    height: 80px;
    border: 0px solid #a5ff2f;
    margin: auto;
    
}

#encabezado1{
    width: 49%;
    height: auto;
    float: left;
    border: 0px solid #0b3b29;
}

#encabezado2{
    width: 45%;
    height: auto;
    float: right;
    border: 0px solid #c23587;
}

#logo{
    width: auto; overflow: hidden;
    height: auto; overflow: hidden;
    float: left;
    margin-top:5px;
    border: 0px solid #000000;   
}

#menu{
    width: 30%;
    height: 40px;
    float: right;
    border: 0px solid red;
    margin-top: 10px;    
}

#inicio{
    width: 45%;
    height: 45px;
    border: 0px solid black;
    border-bottom-style: solid; 
    border-bottom-width: 5px;    
    border-bottom-color:#304FFE;
    float: left;  
}

#perfil{
    width: 45%;
    height: 45px;
    border: 0px solid black;
    float: right;    

}

#inicio .inicio{
    content: url(/static/img/icons8_home_24px_6.png);
    display: block;
    margin: auto;
    padding-top: 10px;
}

#perfil .perfil{
    content: url(/static/img/L.png);
    display: block;
    margin: auto;
    padding-top: 10px;
}

#perfil:hover{    
    background:  #f2f2f2;
    background-size: contain; 
    border-radius: 5px 5px 5px 5px;    
    transition:all 0.5s;
}

#buscar{
    width: 80%;
    position: relative;
    float: left;
    border: 0px solid white;
    margin: auto;      
}

.cont{
    height:100%;
    padding-top:0px;
    float:left;
}
.cont label{
    color:#304FFE;
    font-size:12.9px;
    font-family: sans-serif;
}

input[type="search"]{
    width:250px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #ccd1d1;
    background:#f2f2f2;
    transition:all 0.5s;
}
input[type="search"]:focus{
    background:#fff;
    width:330px;
}

#sesion ul{ 
    
    margin-top: 30px;
    list-style: none; 
    float: right;           
}

.usuario{  
    margin-top:10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    float: right;
}

#Seccion_sesion{
 
    width: 25%;
    height: auto;
    text-align: center;
    position: relative;
    background-color:transparent;
     padding-top: 10%;
    left: 67%;
    top: 100%;
  }
  .opciones_s{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    height: 80%;  
    text-align: center;
  }
/*-----------------Contenido Principal--------------------*/

#principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin: auto;
    padding-top: 65px;
}

#publicaciones{
    width: 70%;
    height: auto; overflow: hidden;
    border: 0px solid red;
    margin-top: 20px;
    float: right;
}

.post{
    width: 97%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #fdfdfd;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    margin-bottom: 20px;
}

.enlace-post{
    text-decoration: none;
}

#publicaciones a .titulo-post{
    color: #6e6e6e;
    font-size: 22px;
    font-family: sans-serif;
}

#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}

#publicaciones .img-post{
    transition: .9s ease;
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */    
    width: 150px;
    height: 100px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 0px solid #cccccc;
    border-radius: 12px;
}

.img-post:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
    
#publicaciones .datos-publicaciones{
    font-family: sans-serif;
    color: #304FFE;
}

#publicaciones .parrafo-post{
    font-family: sans-serif;
    font-size: 16px;
    color: #848484;
    padding: 5px;
    margin-bottom: 10px;    
}

#publicaciones .leer-mas{
    background:#304FFE ;
    color: #ffffff;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#publicaciones .leer-mas:hover{
    background:#aeb6bf ;
    transition: 0.5s;
}

#publicaciones .num-comentarios{
    background: #aeb6bf;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: #304FFE;
}

#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
}

#sidebar{
    float: left;
    width: 26%;
    border: 0px solid;
    height: auto;
    margin-top: 20px;
}

#categorias, #ultimos-post{
    border-radius: 10px;
    width: 100%;
    border: 0px solid #cccccc;
    height: auto; overflow: hidden;
    margin-bottom: 20px; 
}

.cabecera-sidebar{
    width: 100%;
    height: 35px;
    background: #304FFE;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    padding-top: 10px;

}

.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
    padding: 10px 5px;
    color: 848484;
}

.enlace-sidebar:hover{
    background: #cccccc;
    overflow-y: scroll;
}