{% extends 'layout2.html' %}

{% block title %}| Activación {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/estilosRegExitoso.css')}}">
{% endblock %}
  
{% block content %}

    <section class="content">
        {%for message in get_flashed_messages() %}
        <div>{{message}}</div>
        {%endfor%}
    </section> 

    <div id="container">       
        <img src="/static/img/icons8_ok_120px.png" id="icon">
        
        <h3>CUENTA ACTIVADA CON ÉXITO</h3>
        <P>{{name}}, ya puedes iniciar sesión</P>
            
        <a href="{{url_for('login')}}"><input type="button" value="Iniciar Sesión"></a>        
    </div>
{% endblock %}