<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="css/estilosPublico.css">
    <script src="C:\Users\andre\Desktop\BLOGHUB\Blog_Hub-1\static\js\funciones.js"></script>

</head>

<body>


    <header class="header">
        <div id="cabecera">
            <div id="encabezado1">
                <div id="logo">
                    <img src="img/logo2.png">
                </div>
                <div id="menu">
                    <div id="inicio">
                        <img src="img/icons8_home_24px_6.png" href="" class="inicio">
                    </div>
                    <div id="perfil">
                        <img src="img/icons8_staff_24px_1.png" href="" class="perfil">
                    </div>
                </div>
            </div>

            <div id=encabezado2>
                <div id="buscar">
                    <div class="cont">
                        <input type="search" placeholder="Busca en Hub Blog" title="Presione Esc para supender la búsqueda">
                    </div>
                </div>
                <div id="sesion">
                    <img src="img/avatar.jpg" class="usuario" alt="Imagen del avatar" onclick="ver();">
                    <div id="Seccion_sesion">

                        <div class="opciones_s">
                            <div><img src="img/user.png"><a> Perfil </a></div>
                            <br>
                            <div><img src="img/Exit.png"> <a>Salir</a></div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <link rel="stylesheet" href="C:\Users\andre\Desktop\BLOGHUB\Blog_Hub-1\static\css\estilosPublico.css">
    <script src="C:\Users\andre\Desktop\BLOGHUB\Blog_Hub-1\static\js\funciones.js"></script>

    <div class="container">
        <div class="containe2">

            <section id="categorias">
                <h2 class="cabecera-sidebar">Categorias</h2>
                <a href="" class="enlace-sidebar">Deportes</a>
                <a href="" class="enlace-sidebar">Tecnología</a>
                <a href="" class="enlace-sidebar">Política</a>
                <a href="" class="enlace-sidebar">Economía</a>
                <a href="" class="enlace-sidebar">Vida sana</a>
                <a href="" class="enlace-sidebar">Uribe Paraco, el pueblo está berraco</a>
            </section>
            <section id="ultimos-post">
                <h2 class="cabecera-sidebar">Ultimos post</h2>
                <a href="" class="enlace-sidebar">
                    <h4>Titulo del post</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </a>
                <a href="" class="enlace-sidebar">
                    <h4>Titulo del post</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </a>
                <a href="" class="enlace-sidebar">
                    <h4>Titulo del post</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </a>
                <a href="" class="enlace-sidebar">
                    <h4>Titulo del post</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </a>
            </section>



            <div class="dropdown">
                <button style=" background-color: rgb(48, 79, 254); " class=" dropbtn ">Búsqueda
          Avanzada</button>
                <div class=" dropdown-content ">
                    <a href=" # ">Titulo</a>
                    <a href=" # ">Autor</a>
                    <a href=" # ">Categorias</a>
                    <a href=" # ">Fecha</a>
                </div>

            </div>

            </div-->
        </div>



        <div class="vertical-center">

            <br>
            <div class="blog_c">
                <center>
                    <h1> TITULO DEL BLOG</h1>
                </center>
                <div id="blogtext" name="blogtext">
                    <p> At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum doloribus harum quia a maxime atque repellat blanditiis,
                        asperiores veniam rem esse voluptates nemo quos ipsum laborum hic et, quam animi!
                    </p>


                </div>
                <br><br><br>
                <div class="comentarios">

                    <h3 class="txtComent">Comentarios</h3>

                    <textarea id="blogcoment" name="blogocoment" rows="10" cols="50">



        At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </textarea>

                    <br>
                    <br>

                    <button class="btn_comentar" type="button"><span>Comentar</span></button>

                </div>
            </div>
            <br><br><br><br><br><br><br><br>
            <div class="info_blog">

                <h1>ESTO ES INFORMACIÓN DEL BLOG</h1>
                <br><br><br><br>
                <p>
                    <h2>Autor</h2>
                </p>
                <p>Anonimus</p>
                <br><br>
                <br><br><br><br>
                <span>
          <img src="/static/img/facebook.png">
          <img src="/static/img/twitter.png">
        </span>
                <br><br><br><br>
                <h2>Archivos del blog</h2>
                <p><button style=" background-color: rgb(48, 79, 254); " class=" btn_2020 ">2020</button></p>
                <p><button style=" background-color: rgb(48, 79, 254); " class=" btn_2019 ">2019</button></p>
                <p><button style=" background-color: rgb(48, 79, 254); " class=" btn_2018 ">2018</button></p>
                <p><button style=" background-color: rgb(48, 79, 254); " class=" btn_2017 ">2017</button></p>




            </div>





        </div>
    </div>

</body>

</html>