{% extends 'layout2.html' %}

{% block title %}| Bienvenido{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/estilosIndex.css')}}">
{% endblock %}

{% block content %}

<div class="contenedor">
    <div class="info">
        <p class="texto">Miles de personas en el mundo usan BlogHub</p>
        <div class="wrap">
            <a href="{{url_for('registro')}}"><button class="button">Únete</button></a>
        </div>  
        <div class="wrap">
            <a href="{{url_for('login')}}"><button class="button">Inicia Sesión</button></a>
        </div>       
    </div>
    
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/1.jpg" alt=""></li>
                <li><img src="/static/img/Images/2.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/3.jpg" alt=""></li>
                <li><img src="/static/img/Images/4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/5.jpg" alt=""></li>
                <li><img src="/static/img/Images/6.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/7.jpg" alt=""></li>
                <li><img src="/static/img/Images/8.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/9.jpg" alt=""></li>
                <li><img src="/static/img/Images/10.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/11.jpg" alt=""></li>
                <li><img src="/static/img/Images/12.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/13.jpg" alt=""></li>
                <li><img src="/static/img/Images/14.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/15.jpg" alt=""></li>
                <li><img src="/static/img/Images/16.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/17.jpg" alt=""></li>
                <li><img src="/static/img/Images/18.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/19.jpg" alt=""></li>
                <li><img src="/static/img/Images/20.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/21.jpg" alt=""></li>
                <li><img src="/static/img/Images/22.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/1.jpg" alt=""></li>
                <li><img src="/static/img/Images/2.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/3.jpg" alt=""></li>
                <li><img src="/static/img/Images/4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/5.jpg" alt=""></li>
                <li><img src="/static/img/Images/6.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/7.jpg" alt=""></li>
                <li><img src="/static/img/Images/8.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/9.jpg" alt=""></li>
                <li><img src="/static/img/Images/10.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/11.jpg" alt=""></li>
                <li><img src="/static/img/Images/12.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/13.jpg" alt=""></li>
                <li><img src="/static/img/Images/14.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/15.jpg" alt=""></li>
                <li><img src="/static/img/Images/16.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/17.jpg" alt=""></li>
                <li><img src="/static/img/Images/18.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/19.jpg" alt=""></li>
                <li><img src="/static/img/Images/20.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/21.jpg" alt=""></li>
                <li><img src="/static/img/Images/22.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/1.jpg" alt=""></li>
                <li><img src="/static/img/Images/2.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/3.jpg" alt=""></li>
                <li><img src="/static/img/Images/4.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/5.jpg" alt=""></li>
                <li><img src="/static/img/Images/6.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/7.jpg" alt=""></li>
                <li><img src="/static/img/Images/8.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/9.jpg" alt=""></li>
                <li><img src="/static/img/Images/10.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-right">
                <li><img src="/static/img/Images/11.jpg" alt=""></li>
                <li><img src="/static/img/Images/12.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div id="cont"> 
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/13.jpg" alt=""></li>
                <li><img src="/static/img/Images/14.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-left">
                <li><img src="/static/img/Images/15.jpg" alt=""></li>
                <li><img src="/static/img/Images/16.jpg" alt=""></li>
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-bottom">
                <li><img src="/static/img/Images/17.jpg" alt=""></li>
                <li><img src="/static/img/Images/18.jpg" alt=""></li>                
            </ul>
        </div>
        <div class="slider">
            <ul class="slider-top">
                <li><img src="/static/img/Images/19.jpg" alt=""></li>
                <li><img src="/static/img/Images/20.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}