<!--!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/estilosInicio.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Hub</title>
    <link rel="icon" type="/static/image/png" href="static/img/favicon.png"/>
    <script src="/static/funciones.js"></script>
</head>
<body>
    <header class="header">
        <div id="cabecera">
            <div id="encabezado1">
                <div id="logo">
                    <img src="/static/img/logo2.png">
                </div>
                <div id="menu">
                    <div id="inicio">
                        <img src="/static/img/icons8_home_24px_6.png" href="" class="inicio">                      
                    </div>
                    <div id="perfil">
                        <img src="/static/img/icons8_staff_24px_1.png" href="" class="perfil">
                    </div>
                </div>
            </div>
        
            <div id=encabezado2>
                <div id="buscar">
                    <div class="cont">
                        <input type="search" placeholder="Busca en Hub Blog"  title="Presione Esc para supender la búsqueda">
                    </div>                    
                </div>
                <div id="sesion">
                    <img src="/static/img/avatar.jpg" class="usuario" alt="Imagen del avatar" onclick="ver();">
                    <div id="Seccion_sesion">
                        
                        <div class="opciones_s">
                        <div><img src="/static/img/user.png"><a> Perfil </a></div>
                        <br>
                        <div><img src="/static/img/Exit.png"> <a>Salir</a></div>  
                        <br>                  
                    </div>
                    </div>
                </div>
            </div>
        </div>        
    </header-->

<!--Estoy probando github-->
<!-- Ya la barra superior no es neceasria porque está en la sección de codigo común (layout)-->

{%extends 'layout.html' %} <!--Obtengo la barra del archivo principal layout-->
    
<!--Lo que esté en block content es lo particular del codigo-->
{% block content %}
<link rel="stylesheet" href="/static/css/estilosInicio.css">
    <section id="principal">
        <section id="publicaciones">
            <article class="post">
                <a href="" class="enlace-post">
                    <h2 class="titulo-post">Titulo del blog</h2>
                </a>
                <img src="img/deportes.png"class="img-post">
                <p>
                    <strong>Por: </strong><span class="datos-publicaciones">Arned Martelo</span>
                    &nbsp; &nbsp;
                    <strong>Fecha: </strong><span class="datos-publicaciones">Domingo, 29 de Noviembre de 2020</span>
                </p>
                <p class="parrafo-post">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam mollitia dolore sequi suscipit maiores minima omnis ullam dolores veniam officia accusamus amet alias aliquamnihil quibusdam eveniet, a vel praesentium.
                </p>
                <a href="" class="leer-mas">Leer más...</a>&nbsp; &nbsp;
                <span class="num-comentarios">8 Comentarios</span>&nbsp; &nbsp;
                <strong>Categoria: </strong><span class="datos-publicaciones">Deportes</span>

            </article>

            <article class="post">
                <a href="{{url_for('BlogPublico')}}" class="enlace-post">
                    <h2 class="titulo-post">Titulo del blog</h2>
                </a>
                <img src="img/tecnologia.jpeg"class="img-post">
                <p>
                    <strong>Por: </strong><span class="datos-publicaciones">Arned Martelo</span>
                    &nbsp; &nbsp;
                    <strong>Fecha: </strong><span class="datos-publicaciones">Domingo, 29 de Noviembre de 2020</span>
                </p>
                <p class="parrafo-post">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam mollitia dolore sequi suscipit maiores minima omnis ullam dolores veniam officia accusamus amet alias aliquamnihil quibusdam eveniet, a vel praesentium.
                </p>
                <a href="" class="leer-mas">Leer más...</a>&nbsp; &nbsp;
                <span class="num-comentarios">4 Comentarios</span>&nbsp; &nbsp;
                <strong>Categoria: </strong><span class="datos-publicaciones">Tecnología</span>
            </article>

            <article class="post">
                <a href="" class="enlace-post">
                    <h2 class="titulo-post">Titulo del blog</h2>
                </a>
                <img src="img/politica.jpeg"class="img-post">
                <p>
                    <strong>Por: </strong><span class="datos-publicaciones">Arned Martelo</span>
                    &nbsp; &nbsp;
                    <strong>Fecha: </strong><span class="datos-publicaciones">Domingo, 29 de Noviembre de 2020</span>
                </p>
                <p class="parrafo-post">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam mollitia dolore sequi suscipit maiores minima omnis ullam dolores veniam officia accusamus amet alias aliquamnihil quibusdam eveniet, a vel praesentium.
                </p>
                <a href="" class="leer-mas">Leer más...</a>&nbsp; &nbsp;
                <span class="num-comentarios">45 Comentarios</span>&nbsp; &nbsp;
                <strong>Categoria: </strong><span class="datos-publicaciones">Política</span>
            </article>

            <article class="post">
                <a href="" class="enlace-post">
                    <h2 class="titulo-post">Titulo del blog</h2>
                </a>
                <img src="img/economia.jpg"class="img-post">
                <p>
                    <strong>Por: </strong><span class="datos-publicaciones">Arned Martelo</span>
                    &nbsp; &nbsp;
                    <strong>Fecha: </strong><span class="datos-publicaciones">Domingo, 29 de Noviembre de 2020</span>
                </p>
                <p class="parrafo-post">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam mollitia dolore sequi suscipit maiores minima omnis ullam dolores veniam officia accusamus amet alias aliquamnihil quibusdam eveniet, a vel praesentium.
                </p>
                <a href="" class="leer-mas">Leer más...</a>&nbsp; &nbsp;
                <span class="num-comentarios">8 Comentarios</span>&nbsp; &nbsp;
                <strong>Categoria: </strong><span class="datos-publicaciones">Economía</span>
            </article>

            <article class="post">
                <a href="" class="enlace-post">
                    <h2 class="titulo-post">Titulo del blog</h2>
                </a>
                <img src="img/vida_sana.jpg"class="img-post">
                <p>
                    <strong>Por: </strong><span class="datos-publicaciones">Arned Martelo</span>
                    &nbsp; &nbsp;
                    <strong>Fecha: </strong><span class="datos-publicaciones">Domingo, 29 de Noviembre de 2020</span>
                </p>
                <p class="parrafo-post">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam mollitia dolore sequi suscipit maiores minima omnis ullam dolores veniam officia accusamus amet alias aliquamnihil quibusdam eveniet, a vel praesentium.
                </p>
                <a href="" class="leer-mas">Leer más...</a>&nbsp; &nbsp;
                <span class="num-comentarios">24 Comentarios</span>&nbsp; &nbsp;
                <strong>Categoria: </strong><span class="datos-publicaciones">Vida sana</span>
            </article>

            <div id="paginacion">
                <p>Anterior &nbsp; &nbsp;<a href="" class="enlace-paginacion">Siguiente</a> </p>
            </div>
        </section>
        <section id="sidebar">
            
            <section id="categorias">
                <h2 class="cabecera-sidebar">Categorias</h2>
                    <a href="" class="enlace-sidebar">Deportes</a>
                    <a href="" class="enlace-sidebar">Tecnología</a>
                    <a href="" class="enlace-sidebar">Política</a>
                    <a href="" class="enlace-sidebar">Economía</a>
                    <a href="" class="enlace-sidebar">Vida sana</a>
                    <a href="" class="enlace-sidebar">Uribe Paraco, el pueblo está berraco</a>
            </section>
            <section id="ultimos-post">
                <h2 class="cabecera-sidebar">Ultimos post</h2>
                    <a href="" class="enlace-sidebar">
                        <h4>Titulo del post</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    </a> 
                    <a href="" class="enlace-sidebar">
                        <h4>Titulo del post</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    </a> 
                    <a href="" class="enlace-sidebar">
                        <h4>Titulo del post</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    </a> 
                    <a href="" class="enlace-sidebar">
                        <h4>Titulo del post</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    </a>              
            </section>
            
        </section>

    </section>
    
{% endblock %}
<!--
    Aca finaliza el codigo comun, observar que el body y el html cierran en layout 
-->


<!--/body>
</html-->