{% extends 'layout2.html' %}

{% block title %} | Inicia Sesión {% endblock %}


{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename = '/css/estilosLogin.css')}}">

<script src="{{url_for('static',filename='/js/funciones.js')}}"></script>
    <div class="login-box">
        <img class="avatar" src="/static/img/logo2.png">

        
        <section class="content">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        </section>
        
        
        <form name=form method = "POST" action="{{url_for('login')}}" novalidate >

            {{form.hidden_tag()}}

            <div>    
                {{form.usuario(size=30)}}<br>
            </div>
            
            <div>      
                <div style="display:inline-block;">{{form.clave(size=30)}}</div> <div onclick="verpass()"  style="display:inline-block;" ><img   src="/static/img/eye.png" width="15" height="15"></div>
            </div>

            <!--div>                
                <div style=" display:inline-block; width: 5%;">{{form.recordar()}}</div>
                <div style="display:inline-block" >{{form.recordar.label}}</div>
            </div-->
                  
            
            <div >
                {{form.enviar()}}
            </div>       
        </form> 

        <div>
            <a href="{{url_for('cambiarpass',source=1)}}" class="recordar">¿Olvidaste tu contraseña?</a><br>
            <a href="{{url_for('registro')}}" class="registrarse" >Registrarse</a>
        </div>        
    </div>
{% endblock %}
