<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión | Blog Hub</title>
    <link rel="icon" type="/static/image/png" href="/static/img/icono.png"/>
    <link rel="stylesheet"  href="{{url_for('static', filename ='/static/css/estilosLogin.css')}}" >
    <style>
        body{
           background:url(/static/img/6.jpg) no-repeat center top;}
    </style>
</head>
<body background="/static/img/6.jpg">
    <div class="login-box">
        
        <img class="avatar" src="/static/img/logo2.png" alt="avatar">
        <center>
        <section class="content">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        </section>
        </center>
        
        <form method = "POST" action="{{url_for('verificarusuario')}}">
            <!-- Usuario -->
            <input type="text" name="usuario" class="usr" placeholder="Usuario" id = "usuario">
            
            <!-- Contraseña -->
            <input type="password" name="password" class="clave" placeholder="Contraseña" id ="password" >

            <button type="submit" class="login" type="button"><span>INICIAR SESIÓN</span></button>
        
            <a href="#" class="recordar">¿Olvidaste tu contraseña?</a><br>
            <a href="{{url_for('registro')}}" class="registrarse" >Registrarse</a>
            
           
        </form> 
       
    </div>
</body>
</html>
