{% extends 'layout2.html' %}

{% block titulo %} | Inicia Sesión {% endblock %}


{% block contenido %}

<link rel="stylesheet" href="{{url_for('static', filename = '/css/estilosLogin.css')}}">

    <div class="login-box">
        <img class="avatar" src="/static/img/logo2.png">

        
        <section class="content">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        </section>
        
        
        <form name=form method = "POST" action="{{url_for('login')}}" novalidate >

            {{form.hidden_tag()}}

            <div>    
                {{form.usuario(size=30)}}<br>
            </div>
            
            <div>      
                {{form.clave(size=30)}}<br>
            </div>

            <div>                
                {{form.recordar()}}
                {{form.recordar.label}}
            </div>
            
            <div >
                {{form.enviar()}}
            </div>       
        </form> 

        <div>
            <a href="{{url_for('cambiarpass',source=1)}}" class="recordar">¿Olvidaste tu contraseña?</a><br>
            <a href="{{url_for('registro')}}" class="registrarse" >Registrarse</a>
        </div>        
    </div>
{% endblock %}
