<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link href="css/estiloPerfil.css" rel="stylesheet" type="text/css">
    <script src="js/funciones.js"></script>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
</head>

<body>
    <!--Navegador-->
    <header class="header">
        <div id="cabecera">
            <div id="encabezado1">
                <div id="logo">
                    <img src="img/logo2.png">
                </div>
                <div id="menu">
                    <div id="inicio">
                        <img src="img/icons8_home_24px_6.png" href="" class="inicio">                      
                    </div>
                    <div id="perfil">
                        <img src="img/icons8_staff_24px_1.png" href="" class="perfil">
                    </div>
                </div>
            </div>
        
            <div id=encabezado2>
                <div id="buscar">
                    <div class="cont">
                        <input type="search" placeholder="Busca en Hub Blog"  title="Presione Esc para supender la búsqueda">
                    </div>                    
                </div>
                <div id="sesion">
                    <img src="img/avatar.jpg" class="usuario" alt="Imagen del avatar" onclick="ver();">
                    <div id="Seccion_sesion">
                        
                        <div class="opciones_s">
                        <div><img src="img/user.png"><a> Perfil </a></div>
                        <br>
                        <div><img src="img/Exit.png"> <a>Salir</a></div>  
                        <br>                  
                    </div>
                    </div>
                </div>
            </div>
        </div>        
    </header>

    <div class="p_fotos">  <!-- Otro div que tiene el contenido de abajo-->
        <div class="h1"><!-- Es el div con la parte izquierda de la pantalla-->
            <div class="profile_m">   
                <center>         
                    <img src="img/foto.jpg" width="150" height="150" class="f_perfil"> <!-- Foto de perfil-->
                    <br> <br>
                    <br> 
                    <p>Usuario: XXXXX</p>
                    <br>
                    <p>Correo Electrónico:</p>
                    <p>varleo_95@hotmail.com</p>
                    
                <button class="b_cambiarfoto" type="button"><span>Cambiar foto</span></button><!-- Boton cambiar foto--> 
                
              
                </center>
                
            </div>
           <button class="c_contraseña" type="button"> <span> Cambiar Contraseña</span></button>
            

        </div>

        <div class="h2"><!-- El div con la parte derecha-->
            <div class="heder_h2"> <!-- HEADER De la parte derecha con el titulo mis blogs -->
                <br>
                <br>
                <h2>Mis BLOGS</h2>
                <br>
            </div>

            <div class=mi_blogs>
                <div class="b1"><!--Uno de mis blogs-->
                    <div class="foto_titulo">
                        <h2>Titulo del Blog</h2>
                        <br>
                        <img src="img/foto.jpg" class="foto_b">
                    </div>
                  
                    <div class="descrip">
                        <br>
                         <p>Autor: Andres Varelo    Fecha: Lunes, 30 de Noviembre de</p>
                         <br>
                         <p>
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas iure voluptatum rem eaque repellat aliquam, dolorum ipsum veritatis maiores totam commodi consequuntur ut ab hic repudiandae autem ducimus. Amet?  
                         </p>
                             <button type="button" class="btn_edit"><span>Editar</span></button>
                             <button type="button" class="btn_elim"><span>Eliminar</span></button>
                             <button type="button" class="btn_Comen"><span>Comentarios</span> </button>
                         
                    </div>

                </div>
                <div class="b1"><!--Uno de mis blogs-->
                    <div class="foto_titulo">
                        <h2>Titulo del Blog</h2>
                        <br>
                        <img src="img/foto.jpg" class="foto_b">
                    </div>

                    <div class="descrip">
                        <br>
                         <p>Autor: Andres Varelo    Fecha: Lunes, 30 de Noviembre de</p>
                         <br>
                         <p>
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas iure voluptatum rem eaque repellat aliquam, dolorum ipsum veritatis maiores totam commodi consequuntur ut ab hic repudiandae autem ducimus. Amet?  
                         </p>
                             <button type="button" class="btn_edit"><span>Editar</span></button>
                             <button type="button" class="btn_elim"><span>Eliminar</span></button>
                             <button type="button" class="btn_Comen"><span>Comentarios</span> </button>
                         
                    </div>

                </div>
                <div class="b1"><!--Uno de mis blogs-->
                    <div class="foto_titulo">
                        <h2>Titulo del Blog</h2>
                        <br>
                        <img src="img/foto.jpg" class="foto_b">
                    </div>

                    <div class="descrip">
                        <br>
                         <p>Autor: Andres Varelo    Fecha: Lunes, 30 de Noviembre de</p>
                         <br>
                         <p>
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas iure voluptatum rem eaque repellat aliquam, dolorum ipsum veritatis maiores totam commodi consequuntur ut ab hic repudiandae autem ducimus. Amet?  
                         </p>
                             <button type="button" class="btn_edit"><span>Editar</span></button>
                             <button type="button" class="btn_elim"><span>Eliminar</span></button>
                             <button type="button" class="btn_Comen"><span>Comentarios</span> </button>
                         
                    </div>

                </div>
                

            </div>

            
        </div>

    </div>
    
</body>
</html>