{% extends 'layout.html' %} 

{% block title %}| Perfil{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/23ed017cad/UntitledProject/style.css">
    <link href="static/css/estiloPerfil.css" rel="stylesheet" >
{% endblock %}
    
{% block content %}
    <div class="p_fotos">  <!-- Otro div que tiene el contenido de abajo-->
        <div class="h1"><!-- Es el div con la parte izquierda de la pantalla-->
            <div class="profile_m">   
                <center>         
                    <img src="/static/img/foto.jpg" width="150" height="150" class="f_perfil"> <!-- Foto de perfil-->
                    <br> <br>
                    <br> 
                    <p>Usuario: {{datos[:]}}</p>
                    <br>
                    <p>Correo Electrónico:</p>
                    <p>{{email2[0]}}</p>
                    
                <button class="b_cambiarfoto" type="button"><span>Cambiar foto</span></button><!-- Boton cambiar foto--> 
                
              
                </center>
                
            </div>
           <a href="{{url_for('cambiarpass',source=0)}}"><button class="c_contraseña" type="button"> <span> Cambiar Contraseña</span></button></a>

           <a href="{{ url_for('CrearBlog')}}"><button class="c_contraseña" type="button"> <span> Crear BLOG</span></button></a>
            

        </div>

        <div class="h2"><!-- El div con la parte derecha-->
            <div class="heder_h2"> <!-- HEADER De la parte derecha con el titulo mis blogs -->
                <br>
                <br>
                <h2>Mis BLOGS</h2>
                <br>
            </div>

            <div class=mi_blogs>
                {%for r in row%}
                    <div class="b1"><!--Uno de mis blogs-->
                        <div class="foto_titulo">
                            <a href="{{url_for('post',post_id=r['afrax'])}}"><h2>{{r['kuadno']}}</h2></a>
                            <br>
                            <img src="/static/img/foto.jpg" class="foto_b">
                        </div>
                    
                        <div class="descrip">
                            <br>
                            <p>Autor: {{datos[:]}}    Fecha: {{r['moan']}}</p>
                            <p>
                                <textarea name="resumen" id="resumen" cols="30" rows="10">
                                {{r['tavle'][:200]}}...
                                </textarea>
                            </p>
                            <a href="{{url_for('edit_post',post_id=r['afrax'])}}"><button type="button" class="btn_edit"><span>Editar</span></button></a>
                            <a href="{{url_for('delete_post',post_id=r['afrax'])}}"><button type="button" class="btn_elim"><span>Eliminar</span></button></a>
                            <button type="button" class="btn_Comen"><span>Comentarios</span> </button>                         
                        </div>
                    </div>
                {%endfor%}               
            </div>            
        </div>
    </div>

    <script src="static/js/funciones.js"></script>
    <script src="https://cdn.tiny.cloud/1/zxwtd88scjyivtscmsjofxescltescewg3lwrsoxofe7231g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({
        selector:'textarea',
        menubar:false,
        toolbar:false,
        branding:false,
        readonly: 1,
        skin: 'borderless',
        // plugins: ['autoresize'],
        height: '50',
        width: '560',
        plugins: 'autoresize',
        autoresize_bottom_margin: 2
    });</script>
    
{% endblock %}   

