{%extends 'layout.html' %}

{% block title %}{{post['kuadno']}}{% endblock %}

{% block content %}

        {{form.hidden_tag}}
        <!-- jQuery library -->
        <title>{{post['kuadno']}}</title>
            <script src="{{url_for('static',filename='js/descargar.js')}}"></script>
            <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
            <link rel="stylesheet" href="https://i.icomoon.io/public/temp/23ed017cad/UntitledProject/style.css">
            <link rel="stylesheet" href="/static/css/estilosPost.css">
            <script src="https://cdn.tiny.cloud/1/zxwtd88scjyivtscmsjofxescltescewg3lwrsoxofe7231g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({
                selector:'textarea',
                menubar:false,
                toolbar:false,
                branding:false,
                readonly: 1,
                skin: 'borderless',
                plugins: ['autoresize']
            });</script>
    
            <style>
                body{
                    background-image: url(static/img/fondo_copia.jpg);
                    background-repeat: no-repeat;
                }
                .cuerpo{
                    padding: 20px;
                }
    
                .cuerpo p h1{
                    padding-top: 0px;
                }
    
            </style>

        <br>
        <nav class="section1">
            <div class="section1_encabezado_izquierda">
                <a href="{{url_for('inicio')}}"><img src="/static/img/back_to_20px.png" alt="back" id="volver"></a>
                <h1>{{post['kuadno']}}</h1>
            </div>
            <div class="section1_encabezado_derecha">
                <a href="" id ="share"class="share" onclick="descargar()"><img src="/static/img/share_35px.png" alt="share" id="share"></a>
            </div>
            <br><br><br><br><hr color="white"><br>
            <section class="cuerpo">
                <p>
                    <textarea name="blog_corpus" id="blog_corpus" cols="135" rows="90">
                    <h1>{{post['kuadno']}}</h1>
                   
                    <h5>Fecha: {{post['moan']}}</h5>
               
                    <div >{{post['tavle']}}</div>
                    
               
                    </textarea>
                    <div id=final></div>
                </p>
                    

            </section>
            
            <div class="label_comentarios_box">
            <div class="label_comentarios">
                Comentarios
            </div>
            </div>


            <section class="comentarios">
                <div class="logo_comentarios">
                    <a href=""><img src="/static/img/logo2.png" alt="" srcset=""></a>
                   
                </div>
                <div class="texto">
                    {%for coment in comentarios%}
                    <div class="box_c">
                    <div class = "prof">
                        <center>
                        <img src="/static/img/foto.jpg" widt="25" height="25" class=> 
                            </center>
                    </div>
                    <div class = "com">
                        <div class="name">{{coment[0]}}</div>
                        
                        <p class="text_c">{{coment[1]}}</p>
                    </div>
                </div>
                    {%endfor%}
                   
                    <div class="nuevo_comentario">
                        <form method="post" action="{{url_for('comentar',post_id=post['afrax'])}}">
                        <div>{{form.cuerpo(cols="40",row="10")}}</div>
                     
                        <div> {{form.enviar()}}</div>
                    </form>
                </div>
                </div>
                
            
            </section>
        </nav>
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>


      
        {% endblock %}
<!--/body>
</html-->
