<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

     <link rel="stylesheet"  href="/static/css/estilosRegistro.css">
     <link rel="icon" type="/static/image/png" href="img/icono.png"/>
     <!--style>
    
    </style-->
    <style>
        body{
           background:url(/static/img/6.jpg) no-repeat center top;}
           
    </style>
</head>
<body>
<center>
<div class="Ventana_Registro">

    
    <div class = "logo">
        <img src="/static/img/logo2.png" width="150" height="100">
    </div>
        <section class="content">
            {%for message in get_flashed_messages() %}
            <div>{{message}}</div>
            {%endfor%}
        </section>  
        <form class="form_R" action="{{url_for('registro')}}" method="post">
            <h1 class= "titulo">Registrate</h1>
        
            <input type="username" placeholder="Ingrese su Usuario" class="usuario" name="user" id="user" >
        
            <br><br>
            <input type="email" placeholder="Ingrese su correo electrónico" class="email" name="email" id="email">
            <br><br>
            <input type="password" placeholder="Ingrese su Contraseña" class="pass" name="password" id="password">
            <br>
            <button class="b_Registro" type="submit"><span>REGISTRARME</span></button><!-- Boton cambiar foto--> 
            <div>¿Ya estás Registrado?</div>
        
            <button class="ir_login" type="button"><span>INICIAR SESIÓN</span></button><!-- Boton cambiar foto-->
        </form>
 

</div>
</center>
</body>
</html>
