
{% extends 'layout2.html' %}

{% block titulo %} | Registro {% endblock %}

{% block contenido %}

<link rel="stylesheet" href="{{url_for('static', filename ='/css/estilosRegistro.css')}}">

<div class="Ventana_Registro">    
    <div class = "logo">
        <img src="/static/img/logo2.png" width="150" height="100">
    </div>

    <section class="content">
        {%for message in get_flashed_messages() %}
        <div>{{message}}</div>
        {%endfor%}
    </section>

    <form class="form_R" action="{{url_for('registro')}}" method="post">
        <h1 class= "titulo">Registrate</h1>
        {{form.hidden_tag()}}
        <div>            
            {{form.usuario(size=30)}}<br>
        </div>
        
        <div>      
            {{form.correo(size=30)}}<br>
        </div>

        <div>                
            {{form.clave(size=30)}}
        </div>
        
        <div>
            <span>
                {{form.enviar()}}
            </span>
        </div>

        <div>¿Ya estás Registrado?</div>
    
        <button class="ir_login" type="button"><span>INICIAR SESIÓN</span></button><!-- Boton cambiar foto-->
    </form>
</div>
{% endblock %}